body{
    background: #8e9eab;  
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
background: linear-gradient(to right, #eef2f3, #8e9eab); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 2px 2px grey;
    text-align: center;
}
.container{
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
    width:50%;
    height: 70%;
    box-shadow: 0px 2px 4px 2px rgb(87, 82, 82);
    border-radius: 10px;
}
.quote_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.quote{
    font-family:cursive ;
    color: rgba(176, 79, 79, 0.708);
}
.btn{
    background: #C9D6FF;  
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
    cursor: pointer;
    padding: 8px;
    margin: 10px;
    border-radius: 8px;
    color: black;
    margin-bottom: 50px;
}
.btn:hover{
    background-color: rgb(160, 199, 183);
}
@media (max-width:728px) {
   .container{
    padding: 60px;
   }
}
@media (max-width:280px) {
   .quote{
    font-size: 15px;
   }
}
@media (max-width:315px) {
   .quote_container{
    font-size: 10px;
   }
}
@media (max-width:462px) {
   .quote_container{
    font-size: 10px;
   }
}